### 为什么学习pandas 
#### 因为pandas含有使数据分析工作变得更简单的高级数据结构和操作工具
#### pandas是基于NumPy来进行构建的，让以NumPy为中心的应用变得更简单

In [2]:
# pip install pandas
#引入pandas库
import pandas as pd
from pandas import Series,DataFrame

### Series类型说明
这个就是一种类似于一维数组的对象，它是由一组数据一级一组与之相关的数组标签组成的索引。仅由一组数据即可产生简单的Series

In [5]:
obj = Series([1,2,3,4,5])
print(obj)
print(obj.values)
print(obj.index)

0    1
1    2
2    3
3    4
4    5
dtype: int64
[1 2 3 4 5]
RangeIndex(start=0, stop=5, step=1)

In [8]:
#自定义索引
obj = Series(['a','b','c','d','e'],index=[1,2,3,4,5])
print(obj)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [9]:
obj[2]

'b'

In [11]:
#我们也可以把Series当作字典来使用
data = {'a':10000,'b':200000,'c':30000}
obj = Series(data)#这个时候Series中的索引就是字典中的键
print(obj)
keys = ['a','c']
obj_1 = Series(data,index=keys)
print(obj_1)

a     10000
b    200000
c     30000
dtype: int64
a    10000
c    30000
dtype: int64

In [12]:
#缺失数据的处理
data = {'a':None,'b':20000,'c':30000}
obj = Series(data)
print(obj)

a        NaN
b    20000.0
c    30000.0
dtype: float64

In [13]:
pd.isnull(obj)

a     True
b    False
c    False
dtype: bool

In [15]:
pd.notnull(obj)

a    False
b     True
c     True
dtype: bool

In [17]:
data = {'Lilei':None,'Han':32,'Tony':None,'Jack':30}
obj =Series(data)
obj.name = 'NameAndAge'#指定series对象的一个名称
obj.index.name = 'xingming'#索引的名称
print(obj)

xingming
Lilei     NaN
Han      32.0
Tony      NaN
Jack     30.0
Name: NameAndAge, dtype: float64

### DataFrme类型
#### Dataframe是一个表给类型的数据结构，它含有一组有序的列。每列可以是不同值的类型、数值、字符串、布尔值都可以
####  DataFrame也可以理解成是由Series组成的一个字典

In [21]:
#构建一个DataFrame
data = {
    '60':['gz','xr'],
    '70':['wg','jg'],
    '80':['ll','zw'],
}

frame_data = DataFrame(data)
print(frame_data)
print(frame_data['70'])

   60  70  80
0  gz  wg  ll
1  xr  jg  zw
0    wg
1    jg
Name: 70, dtype: object

In [32]:
import numpy as np
dates = pd.date_range('20190301',periods=6)
print(dates)

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df = pd.DataFrame(np.random.rand(6,4),index = datas,columns = list('ABCD'))
print(df)

                   A         B         C         D
2019-03-01  0.763057  0.550915  0.016232  0.709563
2019-03-02  0.370663  0.535728  0.178306  0.455657
2019-03-03  0.761314  0.708757  0.591674  0.018449
2019-03-04  0.971646  0.272742  0.200368  0.566975
2019-03-05  0.422630  0.165102  0.245871  0.687658
2019-03-06  0.713137  0.732851  0.792072  0.290226

In [26]:
df.T#转置

   2019-03-01  2019-03-02  2019-03-03  2019-03-04  2019-03-05  2019-03-06
A    0.763057    0.370663    0.761314    0.971646    0.422630    0.713137
B    0.550915    0.535728    0.708757    0.272742    0.165102    0.732851
C    0.016232    0.178306    0.591674    0.200368    0.245871    0.792072
D    0.709563    0.455657    0.018449    0.566975    0.687658    0.290226

In [27]:
df['20190301':'20190303']

                   A         B         C         D
2019-03-01  0.763057  0.550915  0.016232  0.709563
2019-03-02  0.370663  0.535728  0.178306  0.455657
2019-03-03  0.761314  0.708757  0.591674  0.018449

In [28]:
df.loc['20190301':'20190303',['A','B']] #对行和列同时进行筛选得

                   A         B
2019-03-01  0.763057  0.550915
2019-03-02  0.370663  0.535728
2019-03-03  0.761314  0.708757

In [33]:
df.at[dates[0],'A']

0.7630569373656431

In [34]:
df.head(2)

                   A         B         C         D
2019-03-01  0.763057  0.550915  0.016232  0.709563
2019-03-02  0.370663  0.535728  0.178306  0.455657

In [36]:
df.tail(3)

                   A         B         C         D
2019-03-04  0.971646  0.272742  0.200368  0.566975
2019-03-05  0.422630  0.165102  0.245871  0.687658
2019-03-06  0.713137  0.732851  0.792072  0.290226

### DataFreame构造函数能够接受哪些数据类型呢
1、二维numpy array <br>
2、由数组、列表或是元组组成的字典 <br>
3、由Series组成的字典 <br>
4、由字典组成的字典 <br>
5、字典或Series的列表 <br>
6、由列表或元组组成的列表 <br>
7、另一个DataFrame <br>